
/* ---------- TABLE WRAPPER ---------- */
.table-wrapper {
  width: 100%;
  max-width: 1180px;
  margin: auto;
}
/* Image column smaller */
.table-img {
  width: 100px !important;   /* column width */
    width: 90px;                 /* reduce image column width */
  text-align: center;
}
.CAT_text{
    width: 100px !important;   /* column width */

}
.order{
      width: 100px !important;   /* column width */

}
.status{
      width: 90px !important;   /* column width */

}

/* Thumbnail size */
.table-img img {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border: 1px solid #e5e7eb;
    display: block;
  margin: 0 auto;              /* image center */
  border-radius: 10px;
}


/* ---------- TABLE CARD CONTAINER ---------- */
.table-scroll {
  width: 100%;
  max-width: 100%;
  display: block;

  background: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 18px;
  box-shadow: 0 25px 40px -10px rgba(0,0,0,.06);

  /* scroll only when needed */
  overflow-x: auto;      /* enable horizontal scroll */
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
    position: relative;    /* <-- required in some layouts */

}

/* scrollbar */
.table-scroll::-webkit-scrollbar { height: 8px; }
.table-scroll::-webkit-scrollbar-thumb {
  background: #c7cdd6;
  border-radius: 10px;
}
.table-scroll::-webkit-scrollbar-thumb:hover {
  background: #9aa3b2;
}

/* ---------- TABLE ---------- */
.table-pro {
    width: max-content;    /* <-- table allowed to grow */
  min-width: 100%;  
  width: 100%;
  min-width: 900px;       /* scroll only if smaller screen */
  table-layout: fixed;    /* keeps layout stable */
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 14px;
  overflow: hidden;
}

/* ---------- MULTILINE WRAP COLUMN ---------- */
.wrap-col {
  white-space: normal !important;
  word-break: break-word !important;
  overflow-wrap: anywhere !important;
  line-height: 1.6;
}

/* allow row height to expand */
.table-pro tr { height: auto !important; }

/* ---------- CELLS ---------- */
.table-pro td,
.table-pro th {
  padding: 12px 14px;
  vertical-align: top;
}
.table-pro td{
  text-align: center;
  vertical-align: middle;
}

/* ---------- HEADER ---------- */
.table-pro thead th {
  background: #fafafa;
  font-size: 13px;
  font-weight: 600;
  color: #374151;
  border-bottom: 1px solid var(--border);
    text-align: center;
  vertical-align: middle;
}

/* ---------- HOVER ---------- */
.table-pro tbody tr:hover {
  background: #f9fafb;
}
.button{
  margin-bottom: 8px;
}

